html {
    background-color: #ffffff;
    color: #00ccff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.material-icons {
    font-size:16px;
    color: blue; 
    margin-right: 10px;
}
span.icon {
  display: inline-block;
  width: 15px;
  height: 60px;
  padding: 5px;
  vertical-align: top;
  background-color: rgb(255,255,255); 
}
span.id {
  display: inline-block;
  width: 30px;
  height: 60px;
  padding: 5px; 
  color: black;
  border: 1px solid gray;  
  vertical-align: top;
  background-color: #FFFFFF; 
}
span.report {
  display: inline-block;
  width: 80%;
  height: 60px;
  padding: 5px;
  border: 1px solid gray;  
  vertical-align: top;
  color: black;
  background-color: #FFFFFF; 
}
